name: auto generate new websites

on: [push]

jobs:
  generate:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: generate websites
      run: node handleWebsites.js
      
    - name: Auto Commit changed files
      run: |
        git remote set-url origin https://liubiantao:${{ secrets.TOKEN }}@github.com/liubiantao/uBlacklist-Websites
        git config --global user.email "liubiantao@gmail.com"
        git config --global user.name "Workflow"
        git add .
        git commit -m "chore: auto generate new websites" || echo "No changes found. Nothing to commit."
        git push -u origin HEAD

        
